/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* Edições gerais */

body {
  font-family: Quicksand;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #004673;
  padding: 15px 0;
  text-align: center;
}

div {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

/* Edição nos textos */

div h1 {
  margin-top: 80px;
  margin-bottom: 0px;
  font-size: 36px;
}

div h2 {
  display: inline-block;
  padding: 15px 15px;
  border: 3px solid #004673;
  font-size: 24px;
}

div h3 {
  width: 1215px;
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  margin: 5px auto;
}

div h4 {
  float: right;
  width: 500px;
  margin: -305px 100px;
  font-size: 24px;
}

div a {
  color: #003340;
  font-size: 18px;
}

div ul li {
  list-style-type: none;
  width: 400px;
  margin: 0 auto 10px 20px;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #004673;
}

div p {
  width: 1215px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 0 auto 25px auto;
}

/* Edição das imagens */

header img {
  width: 40px;
}

div img {
  width: 300px;
  height: 250px;
}
